@import "config";

.header {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 50vh;
  margin-bottom: 2*$gutter;
  
  justify-content: center;

  background-color: #999;
  background-repeat: no-repeat;
  background-size: cover;

  &--all {
    background-image: url("../img/header.jpg");
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";
    background-color: rgba(255, 255, 255, 0.4);
  }

  &__title {
    text-align: center;

    text-transform: uppercase;
    font-family: $font-heading;
    font-size: 1rem;
  }

  &__undertitle {
    font-family: $font-heading;
    font-size: 3rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 1;
  }
  
}